body {
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.masthead {
  margin: 0;
}

.logo {
  width: 200px;
  height: 200px;
}

.btn-lg {
  height: 50px;
  line-height: 1.5;
}

.octocat {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
