body {
  padding: 0 10% 0 10%;
}

.container {
  width: auto;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
